# ignore file for ~/.files (used by `dotfiles` alias)

# standard OSX home directories
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/

# custom home directories
VirtualBox\ VMs/
Google\ Drive/
Projects/

# Recursion is bad
.files/

# don't share ssh settings
.ssh

# vim global state
.viminfo
# backups of files edited in vim
.vim/backup/
# extensions to vim, managed in .vimrc
.vim/bundle/

# OSX folder-specific information
.DS_Store

# eww, trash, yukky
.Trash

# history changes too fast to be useful
.ghc/ghci_history
.bash_history
.bash_sessions
.lesshst
.gdb_history
.irb-history
.irb_history
.lldb-history
.octave_hist
.sh_history
.spark_history
.swipl-dir-history
.vim/.netrwhist

# created by startx (X11)
.serverauth.*

# stores credentials used by xauth
.Xauthority

# zsh-generated completion information
.zcompdump

# seed file with random numbers used by OpenSSH or apps that make use of OpenSSH.
.rnd

# cache files created by nodejs's v8flags module
.v8flags.3.14.5.9.*
